.match-school {
    display: flex;
    align-items: center;
}

.match-school-body {
    display: flex;
    flex-direction: column;
}

.match-school-footer {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-end;
}