.auto-complete-list .selected {
    background: #bdbdbd;
}

.auto-complete-list {
    display: none;
}

.auto-complete-item.active .auto-complete-list.show {
    display: block;
}

/*.auto-complete-list.disabled {*/
/*    display: none;*/
/*}*/