.mykl-auto-complete .auto-complete.selected {
    background: #bdbdbd;
}

.mykl-auto-complete .auto-complete-list {
    display: none;
}

.mykl-auto-complete .auto-complete-item.active .auto-complete-list.show {
    display: block;
}
