.mykl-progress {
    background: transparent;
    min-height: 20px;
    height: 100%;
    max-height: 50px;
}

.mykl-progress input {
    display: none;
}

.mykl-progress .progress-bar {
    position: relative;
    color: var(--primary);
    border: 3px solid currentColor;
    box-shadow: 0 0 20px inset currentColor;
    min-height: inherit;
    height: 100%;
    max-height: inherit;
}

.mykl-progress .progress-value {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    padding: 0 10px;
}

.mykl-progress.progress-primary .progress-bar {
    color: var(--primary);
}

.mykl-progress.progress-secondary .progress-bar {
    color: var(--secondary);
}

.mykl-progress.progress-success .progress-bar {
    color: var(--success);
}

.mykl-progress.progress-danger .progress-bar {
    color: var(--danger);
}

.mykl-progress.progress-warning .progress-bar {
    color: var(--warning);
}

.mykl-progress.progress-info .progress-bar {
    color: var(--info);
}

.mykl-progress.progress-light .progress-bar {
    color: var(--light);
}

.mykl-progress.progress-dark .progress-bar {
    color: var(--dark);
}