.form-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.form-label {
    flex-grow: 0;
    flex-shrink: 0;
}

.form-group > .mykl-input {
    flex-shrink: 1;
}
