* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.dropdown {
    width: max-content;
    margin-bottom: 20px;
}

.dropdown-toggle {
    width: 100%;
    padding: 0;
    border: 1px solid #343434;
    background: lightblue;
    overflow: hidden;
}

.dropdown-toggle > * {
    width: 100%;
    text-align: center;
}

.dropdown-toggle a {
    display: block;
    width: 100%;
    padding: 10px;
}

.dropdown-menu {
    opacity: 0;
    padding: 0;
    list-style: none;
}

.dropdown-toggle:hover + .dropdown-menu {
    /*opacity: 1;*/
    transition: none;
    margin-top: 0;
}

.dropdown-menu > * {
    border-top: none;
    background: lightgoldenrodyellow;
}

.dropdown-menu a {
    display: block;
    width: 100%;
    padding: 5px;
}

.nav > li {
    /*display: inline-block;*/
    float: left;
    width: max-content;
}

.navbar > .dropdown-menu > ul {
    display: inline-block;
}

