.mykl-process .process-item {
    background: var(--secondary);
    padding: 10px;
}

.mykl-process .process-item.active {
    background: var(--primary);
}

.mykl-process .process-item.disabled {
    background: var(--light);
}

.mykl-process .process-item.done {
    background: var(--success);
}