.match-subject {
    display: flex;
    align-items: center;
}

.match-subject-body {
    display: flex;
    flex-direction: column;
}

.match-subject-footer {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-end;
}