/* 정렬 */
.radio-col .mykl-radio {
    display: inline-block;
}

.mykl-radio {
    position: relative;
    vertical-align: top;
}

.mykl-radio + .mykl-radio {
    margin-top: 16px;
    margin-left: 0;
}

.radio-col .mykl-radio + .mykl-radio {
    margin-top: 0;
    margin-left: 48px;
}

.radio-input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.radio-label {
    vertical-align: top;
    display: inline-block;
    position: relative;
    left: 0;
    height: 17px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding-left: 26px;
    color: #101010;
    font-weight: 500;
    line-height: 18px;
}

.radio-label:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 0;
    width: 16px;
    height: 16px;
    background: url("../../images/radio_bt_off.png") no-repeat;
}

.radio-input:checked + .radio-label:after {
    background: url("../../images/radio_bt_on.png") no-repeat;
}

/* 상태 */
.radio-input:disabled + .radio-label {
    pointer-events: none;
    filter: none;
    opacity: .5;
}