figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: auto 0;
}

/*.img img {*/
/*    width: 100%;*/
/*}*/

.mykl-img img {
    width: 100%;
    height: 100%;
}

.image-cover img {
    object-fit: cover;
}

.image-contain img {
    object-fit: contain;
}

.image-fill img {
    object-fit: fill;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

/*figure img {*/
/*    !*display: inline-block;*!*/
/*    margin: 0 auto;*/
/*}*/