.item-group {
    display: inline-flex;
    flex-direction: column;
    margin-right: 10px;
    width: 200px;
    /*white-space: break-spaces;*/
}

/*.item-group * {*/
/*    white-space: break-spaces;*/
/*}*/

/*.item-group img{*/
/*    object-fit: cover;*/
/*}*/

.title {
    font-weight: 600;
}

.stretch {
    margin-top: auto;
    padding-top: 20px;
}