.calendar-input {
    display: none;
}

.calendar-container {
    display: none;
    width: 60%;
    flex-direction: column;
}

.calendar-container.show {
    display: flex;
}

.calendar-container div[class^="week"] {
    display: flex;
}

.calendar-container div[class^="week"] > div {
    flex: 1;
    text-align: center;
}

.calendar-container .year-month {
    position: relative;
    height: 70px;
    width: 100%;
}

.calendar-container .year-month > * {
    position: absolute;

}

.calendar-container .year-month .year {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.calendar-container .year-month .month {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.calendar-container .year-month .calendar-button-group {
    width: 100%;
    top: 35px;
    display: flex;
    justify-content: space-between;
}

.day:hover {
    background: #bdbdbd;
}

.calendar-container div[class^="week"] *:first-child {
    color: red;
}

.calendar-container div[class^="week"] *:last-child {
    color: blue;
}