* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input[type="time"] {
    display: none;
}

.form-time {
    margin: 10px;
}

.form-time > *{
    display: inline-block;
}

.time-wrapper {
    display: none;
    position: relative;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 1);
}

.time-wrapper.show {
    display: flex;
    height: 150px;
    width: max-content;
    position: relative;
}

.day-night > * {
    display: block;
}

.time-box {
    display: inline-block;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.time-group {
    margin: 2px;
    cursor: pointer;
}

.time-mark {
    background: dodgerblue;
}