ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000000;
}

.pagination li {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 2px;
    background: lightgoldenrodyellow;
}

.pagination .active {
    background: lightblue;
}