.mykl-tab .tab-title {
    display: inline-block;
    font-size: 0.9rem;
    color: #fff;
    padding-left: 20px;
}

.mykl-tab .tab-menu {
    font-size: 0;
}

.mykl-tab .tab-title,
.mykl-tab .tab-item {
    display: inline-block;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 0.875rem;
    color: #101010;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

.mykl-tab .tab-item * {
    pointer-events: none;
}

.mykl-tab .tab-item.active {
    font-weight: 600;
    background: var(--primary);
    color: #fff;
}

.mykl-tab .tab-title > span,
.mykl-tab .tab-item > span {
    display: inline-block;
    line-height: normal;
}

.mykl-tab .tab-title:before,
.mykl-tab .tab-item:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.mykl-tab .tab-title:after,
.mykl-tab .tab-item:after {
    content:'';
    display: block;
}

.mykl-tab .tab-content {
    display: none;
    padding: 10px;
    border-top: 1px solid #bdbdbd;
    box-sizing: border-box;
}

.mykl-tab .tab-content.show {
    display: block;
}

.mykl-tab .tab-content.mykl-tab {
    padding: 0;
    border: none;
}

/* 상태 */
.mykl-tab.tab-secondary .tab-item.active {
    background: var(--secondary);
}

.mykl-tab.tab-success .tab-item.active {
    background: var(--success);
}

.mykl-tab.tab-danger .tab-item.active {
    background: var(--danger);
}

.mykl-tab.tab-warning .tab-item.active {
    background: var(--warning);
}

.mykl-tab.tab-info .tab-item.active {
    background: var(--info);
}

.mykl-tab.tab-light .tab-item.active {
    background: var(--light);
    color: #101010;
}

.mykl-tab.tab-dark .tab-item.active {
    background: var(--dark);
}

/* disabled */
.mykl-tab .tab-item.tab-disabled {
    pointer-events: none;
    color: var(--light );
}

/* nav 반대 */
.mykl-tab .tab-rev .tab-menu {
    text-align: end;
}

/* 둥글게 */
.mykl-tab .tab-round .tab-item {
    border-radius: 20px;
}

.mykl-tab .tab-round .tab-item + .tab-item {
    margin-left: 10px;
}

.mykl-tab .tab-round .tab-content {
    border-top: none;
}

/* 크기 */
.mykl-tab.tab-lg > nav > .tab-title,
.mykl-tab.tab-lg > nav > .tab-item {
    width: 220px;
    height: 60px;
}

.mykl-tab.tab-lg.tab-vertical > .tab-content.show {
    width: calc(100% - 220px);
}

/* 세로 정렬 */
.mykl-tab.tab-vertical {
    display: flex;
}

.mykl-tab.tab-vertical > .tab-menu {
    flex: 0 0 120px;
}

.mykl-tab.tab-vertical > nav > .tab-title,
.mykl-tab.tab-vertical > nav > .tab-item {
    display: flex;
    align-items: center;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-radius: 0;
    text-align: left;
}

.mykl-tab.tab-vertical > .tab-content {
    display: none;
    border-top: none;
    border-left: 1px solid #B0B0B0;
}

.mykl-tab.tab-vertical > .tab-content.show.mykl-tab {
    border-left: none;
    display: flex;
}

.mykl-tab.tab-vertical > .tab-content.show {
    display: inline-block;
    width: 100%;
}


/*@media all and (max-width: 768px) {*/
/*    .tab {*/
/*        display: flex;*/
/*    }*/

/*    .tab-item {*/
/*        flex: 1;*/
/*        flex-shrink: 0;*/
/*        overflow: hidden;*/
/*        white-space: nowrap;*/
/*        text-overflow: ellipsis;*/
/*    }*/

/*    .tab-item.active {*/
/*        min-width: fit-content;*/
/*        text-overflow: initial;*/
/*    }*/
/*}*/