.mykl-form-textarea{
    resize: none;
}

.mykl-form-textarea.textarea-vertical {
    resize: vertical;
}

.mykl-form-textarea.textarea-horizontal {
    resize: horizontal;
}

.mykl-form-textarea.textarea-auto {
    resize: both;
}

.mykl-form-textarea.textarea-smart {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.mykl-form-textarea.textarea-smart::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}