* {
    box-sizing: border-box;
}

.input-group {
    width: 70%;
    min-width: 500px;
    display: flex;
}

.input-group > * {
    display: inline-block;
}
.input-group .form-label {
    width: 30%;
    max-width: 100px;
}

.input-group .form-control {
    /*width: 100%;*/
    flex: 1;
}

.input-group .input-group-text {
    min-width: 20px;
    text-align: center;
}