.mykl-star input,
.mykl-star label {
    display: none;
}

.mykl-star .star-group {
    display: inline-block;
}

.mykl-star .star-item {
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.mykl-star .star-fill {
    /*background: url("../../images/star-fill.svg") no-repeat;*/
}
.mykl-star .star-half {
    /*background: url("../../images/star-half.svg") no-repeat;*/
}
.mykl-star .star-empty {
    /*background: url("../../images/star.svg") no-repeat;*/
}